.home_bg1 {
  background-image: url(/images/restaurant_bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.restaurant-item {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 4px;
  margin-bottom: 20px;
}

.restaurant-item img{
  max-height: 180px;
  width: 100%;
}

.restaurt-item .caption{
  padding: 10px;
}

/* views/restaurants/index.html.erb => 餐廳分類列 */
.nav-pills-center {
  text-align: center;
}

.nav-pills-center > li {
  float: none;
  display: inline-block;
}

/* Profile頁面 -> 已評論過的餐廳圖片 */

.my-restaurant {
  padding: 10px;
  text-align: center;
}

.my-restaurant img{
  width: auto;
  max-width: 100%;
  height: 100px;
  max-height: 100%;
  border-radius: 10px;
}

/* 最新動態頁面 */
.panel {
  text-align: Left;
  width: 100%;
}

.panel-title {
  
}

.form-group .input-from-right-to-left{
  direction: rtl
}